.todo {
  &__title {
    margin-bottom: 3rem;
  }
  &__form {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  &__input {
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-right: 40px;
    border: 1px solid transparent;
    border-bottom: 2px solid black;
    border-radius: 2px;
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__btn {
    border: 1px solid transparent;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    cursor: pointer;
    padding: 5px 10px;
    background: white;
    transition: background linear 1s;
    &:hover {
      background: rgba($color: #000000, $alpha: 0.1);
    }
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 15px 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;

    width: 30%;
    max-width: 30%;

    div {
      cursor: pointer;
      max-width: 70%;
    }
  }
  &__icons {
    font-size: 27px;
    display: flex;
    width: 19%;
    justify-content: space-between;
  }
}

.complete {
  text-decoration: line-through;
}
