.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 0;
  font-weight: 400px;
  height: 50px;

  &__list {
    display: flex;
  }
<<<<<<< HEAD
  &__item {
    position: relative;
  }
=======
>>>>>>> 0fa94c42c6e4656836b9d6ffffdc6d80313cf7e4

  &__link {
    text-decoration: none;
    margin: 10px 20px;
    padding: 0 10px;
    font-size: 24px;
    border-radius: 2px;
    transition: all 1s;
    &:hover {
      box-shadow: 1px 0px 22px 4px rgba(0, 0, 0, 0.09);
      background: rgba(0, 0, 0, 0.06);
    }

    &-active {
<<<<<<< HEAD
      &:after {
        content: "";
        display: inline-block;
        border-bottom: 2px solid #333;
        border-radius: 1px;
        position: absolute;
        width: 50px;
        height: 5px;
        bottom: 0;
        right: 20%;
        opacity: 0.5;
=======
      &:before {
        content: "";
        display: inline-block;
        border-top: 2px solid #333;
        border-right: 2px solid #333;
        border-radius: 1px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        margin: 0 10px 3px 0;
>>>>>>> 0fa94c42c6e4656836b9d6ffffdc6d80313cf7e4
      }
    }
  }
}

.logo {
  &__link {
    text-decoration: none;
    font-size: 50px;
    padding-right: 10px;
    color: black;
    position: relative;

    &:after {
      content: "N";
      position: absolute;
      left: 24px;
      top: -8px;
      display: inline-block;
      width: 10px;
      height: 10px;

      animation: rotation 5s infinite linear;
    }
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
<<<<<<< HEAD

@media (max-width: 900px) {
  .nav {
    &__link {
      text-decoration: none;
      margin: 0;
      padding: 0 10px;
      font-size: 20px;
    }
  }
}
=======
>>>>>>> 0fa94c42c6e4656836b9d6ffffdc6d80313cf7e4
