html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-size: 15px;
  line-height: 1.6;
  color: black;
  height: 100%;
}
a {
  color: #333;
}
#root {
  height: 100%;
}
*,
*:befor,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  list-style: none;
}

/*Container*/

.container {
  width: 100%;
<<<<<<< HEAD
  max-width: 1170px;
=======
  max-width: 1177px;
>>>>>>> 0fa94c42c6e4656836b9d6ffffdc6d80313cf7e4
  margin: 0 auto;
}

/*App*/

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
  text-align: center;
  margin: 50px 0;
}
<<<<<<< HEAD

@media (max-width: 1100px) {
  .container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
}
=======
>>>>>>> 0fa94c42c6e4656836b9d6ffffdc6d80313cf7e4
